<% provide(:title, 'About') %>
<h1>About</h1>

<div id="contact_page">
	<iframe id="contact_video" src="http://fast.wistia.net/embed/iframe/2xfhwmeu41?controlsVisibleOnLoad=true&plugin%5Bsocialbar-v1%5D%5Bbuttons%5D=twitter-linkedIn-facebook&version=v1&videoHeight=262&videoWidth=466&volumeControl=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="466" height="288"></iframe>
<p class="about_text">
	SourceUno was founded by Alston Mason, to address many of the challenges inherent to the process of searching for a career and a job.
</p>

<p class="about_text">
	Being in his late twenties, Alston has experienced and observed these problems first hand. As a job seeker, Alston struggled to find comprehensive and credible information that would help him choose a professional field and an employer in that field. As a professional with a few years under his belt, Alston enjoyed mentoring other job seekers, but found that his busy schedule limited the impact he could have. As a member of recruiting teams at his employers, Alston witnessed the significant time and money employers devote to attracting talent, and the steep cost of recruiting candidates who don't have an accurate understanding of what the job entails.
</p>

<p class="about_text">
	The most effective method Alston found for solving these challenges was in-person interactions between job seekers, professionals, and employers. The job seeker gains critical information to guide their actions, the professional has an opportunity to positively impact someone else's career, and the employer is able to accurately inform the job seeker about the opportunity.
</p>

<p class="about_text">
	The obstacle, which Alston knew from personal experience, is that a large number of in-person interactions are difficult to arrange. So, he set out to find a way to capture the information exchanged in that in-person interaction and scale its impact. The answer he came up with is SourceUno!
</p>

<p class="about_text">
	The SourceUno concept was conceived to be a solution to a problem, and that practical approach is engrained in the SourceUno team. We want to bring you content and features that make your job search better. So tell us what you want. We are listening and we will deliver.
</p>
</div>