<% provide(:title, 'About') %>
<h1>About</h1>

<div id="contact_page">
<iframe id="contact_video" src="http://fast.wistia.net/embed/iframe/2xfhwmeu41?controlsVisibleOnLoad=true&plugin%5Bsocialbar-v1%5D%5Bbuttons%5D=twitter-linkedIn-facebook&version=v1&videoHeight=262&videoWidth=466&volumeControl=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="466" height="288"></iframe>
<p id="contact_text">
At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeatfacere possimus, omnis voluptas assumenda est, omnis dolor. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil quo minus id quod maxime placeatfacere possimus, omnis voluptas assu est, omnis dolor.

At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeatfacere possimus, omnis voluptas assumenda est, omnis dolor. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil quo minus id quod maxime placeatfacere possimus, omnis voluptas assu est, omnis dolor.

</p>


</div>