<section id="home_main_content">
<iframe src="http://fast.wistia.net/embed/iframe/ekpoopw22b?controlsVisibleOnLoad=true&version=v1&videoHeight=426&videoWidth=640&volumeControl=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="466" height="270"></iframe>
	                
<div id="xyz"><h2>The answers you need to get the job you want</h2>


  
     <p id="start_now_button"> <%= link_to "Start Now!", signup_path%></p>

</div>
</section>	                   
	           
				
<%= image_tag("job-seekers-professional.png", alt: "Job seekers") %> 
				
			