<section id="home_main_content">
<iframe id="viddler-bb64fc4" src="//www.viddler.com/embed/bb64fc4/?f=1&autoplay=0&player=simple&secret=90369232&loop=0&nologo=0&hd=1" width="466" height="270"  frameborder="0" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	                
<div id="xyz"><h2>The answers you need to get the job you want</h2>


  
     <p id="start_now_button"> <%= link_to "Start Now!", signup_path%></p>

</div>
</section>	                   
	           
				
<%= link_to image_tag("job-seekers-professionals.png", alt: "Job seekers") %> 
				
			