<h1>Home</h1>
<header class="hero-unit">
	<section class="row-fluid">
	    	<div class="span12">
	        	<div class="row-fluid">
	            	<div class="span6 pull-left">
	                	
	                    <div class="flex-video widescreen"><iframe id="viddler-bb64fc4" src="//www.viddler.com/embed/bb64fc4/?f=1&autoplay=0&player=simple&secret=90369232&loop=0&nologo=0&hd=1" width="466" height="270"  frameborder="0" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></div>
	                
	                </div>
	                <div class="span6 pull-right" id="box">
	                	<h2>The answers you need to get the job you want</h2>
						<%= link_to "Start Now!", signup_path, class: "btn btn-large btn-primary" %>
	                   
	                </div>
	            </div>      
	        </div>
	    </section>
        </header>
		<section class"row-fluid">
			<div class="span12">
				<div class="image">
				<%= link_to image_tag("job-seekers-professionals.png", alt: "Job seekers") %> 
			</div>
			</div>
		</section>