<h1>Professions</h1>

<table>
  <tr>
    <th></th>
  </tr>

<% @professions.each do |profession| %>
  <tr>
    <td><%= link_to profession.name, profession_fields_path(profession) %></td>
  </tr>
<% end %>
</table>
