<p id="notice"><%= notice %></p>

<%= render 'meet_professionals', :question => 'Meet these Tax Law Professionals who have answers to your questions' %>

<div class="main-question-block">
<div class="main-question-number">&nbsp;2&nbsp;</div>
<h1 class="question-header">Select a question and click to watch that professional answer it now</h1>

<h2 class="sub1-question">Is this the right field for me?</h2>

<hr class="video-line-separator" size=1>
<h2 class="sub1-question">How do I get hired?</h2>

<hr class="video-line-separator" size=1>
<h2 class="sub1-question">Other</h2> 
