@import "bootstrap";
@import "bootstrap-responsive";


 
.navbar-inner {
  background: none !important; 
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.navbar{
	border-bottom: 1px solid #000000;
}



.hero-unit{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
}

.image {
    text-align: center;
}