@import "bootstrap";
@import "bootstrap-responsive";

h2{
	
}

header img {
    vertical-align:middle;
    margin:0 2px 0 2px; /* YOU CAN ADJUST IMAGES SPACE WITH THIS MARGINS */
}

#box {
	display: block;
	padding:0 30px 0 30px;
	
	
}