@charset "UTF-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
	background-color: #FFF;
}
a {
	color: #F93;
	text-decoration: none;
}
.wrapper {
	width: 1100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	padding: 0px;
	background-color: #FFF;
}

header {
	display: block;
}
#main_header {
	height: 120px;
	background-color: rgb(241, 241, 243);
	font-family: Tahoma, Geneva, sans-serif;
	color: rgb(87, 94, 100);
	padding-top: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(165, 169, 172);
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#main_header img {
	float: left;
	display: block;
	margin-top: 15px;
	clear: both;
	
}
#main_header h3 {
	display: block;
	float: left;
	clear: left;
	color: rgb(244, 129, 32);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	font-style: normal;
	font-weight: lighter;
}
#main_nav {
	float: right;
	width: 400px;
	margin-top: 40px;
	display: block;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#main_nav ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#main_nav ul li {
	float: right;
	display: block;
	margin-left: 30px;
}
#main_nav ul li a{
	width: 100px;
	color: #777;
	text-decoration: none;
}


article {
	display: block;
	padding-right: 20px;
	padding-left: 20px;	
}

#article_header {
	display: block;
	height: 130px;	
}
article h5 {
	display: block;
	font-family: "Nueva Std Italic";
	font-size: 10px;
	text-transform: uppercase;
	line-height: normal;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	letter-spacing: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(165, 169, 172);
}

figure {
	float: left;
	display: block;
	padding: 0px;
	box-shadow: -3px 3px 5px #888;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
}

#article_nav {
	float: right;
	width: 500px;
	display: block;
	margin-top: 20px;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
}
#article_nav ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#article_nav ul li {
	float: right;
	display: block;
	margin-left: 30px;
	line-height: 40px;
	width: 150px;
	background-color: rgb(244, 129, 32);
	box-shadow: 3px 3px 5px #888;
}
#article_nav ul li a{
	width: 100px;
	text-decoration: none;
	color: #FFF;
}

section {
	display: block;
}

#company_info {
	width: 650px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	line-height: normal;
	display: block;
	margin-right: 50px;
}
#company_info h5 {
	width: 400px;
}
#company_highlights h5 {
	width: 400px;
}
#article_header h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	display: block;
	width: 400px;
	height: 40px;
	vertical-align: middle;
	text-align: left;
	float: left;
	clear: none;
	padding-left: 20px;
	margin-top: 40px;
	color: #555;
}

#company_highlights {
	width: 650px;
}

#company_video {
	width: 400px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	clear: both;
}

#company_instagram {
	height: 300px;
	float: right;
	display: block;
}
aside {
	display: block;
	width: 300px;
	height: 300px;
	float: right;
}
.twitter-timeline {
	text-align: center;
}
footer {
	display: block;
	clear: both;
	height: 40px;
	background-color: rgb(241, 241, 243);
	font-family: Tahoma, Geneva, sans-serif;
	color: rgb(87, 94, 100);
	padding-top: 20px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: rgb(165, 169, 172);
	padding-right: 50px;
	padding-left: 50px;
	font-size: 14px;
}
footer ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	display: block;
	width: 400px;
	margin: 0px;
	padding: 0px;
	float: right;
	clear: both;
}
footer p {
	display: block;
	float: right;
	clear: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}

footer ul li {
	float: right;
	display: block;
	clear: left;
	margin-left: 15px;
}
footer ul li a{
	color: #777;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}
