<%# <% @videos.each do |video| %1> %>
<%#   <p><%= link_to "#{video.expert.first_name}'s Answer", "http://test/url/#{video.wistia_id}" %1></p> %>
<%# <% end %1> %>

<% @questions_hash["What is the org structure of a corporate law firm?"].each do |video| %>
  <p><%= link_to "#{video.expert.first_name}'s Answer", "http://fast.wistia.net/embed/iframe/#{video.wistia_id}?autoPlay=true&controlsVisibleOnLoad=true&popover=true&version=v1&videoHeight=360&videoWidth=640&volumeControl=true", :class => "wistia-popover[height=360,width=640]" %></p>  <script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>
<% end %>
